.row.filters
  .col-sm-9.filter
    input.form-control.child(type="text" placeholder="Search product..." ng-model="searchName")
  .col-sm-3.text-right.filter
    button.btn-primary.btn-lg(ng-click="store.setPriceFilter('-price');store.showChange()" ng-hide="store.show()") Price high to low
    button.btn-primary.btn-lg(ng-click="store.setPriceFilter('+price');store.showChange()" ng-show="store.show()") Price low to high